/* *{
    margin: 0;padding: 0;
    background-color: bisque;
} */
h1 {
    color: aqua;
    background-color: black;
}
h3{
    color: black;
    background-color: white;
}
button{
    color: blue;
}
.box{
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: azure;
}
.newDiv {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
}
#modebtn {
    border: 1px solid black;
    border-radius: 2px;
}
